@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');
:root {
    --primary-color: #033b4a;
    --secondry-color: #033b4a;
    --background-primary: #ecf0f3;
    --gray: #4a4a4d;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Saira', sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration:none!important ;
}
.container {
    max-width:1100px;
    margin:auto;
    padding:0 2rem;
}
/* utility classes */
.text-primary{
    color: green;
}
/* <!-- header start --> */
header{
    background-color: var(--background-primary);
    height: 100vh;
}

header .navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position:fixed;
    width:100%;
    padding:1.5rem 2rem; 
}

header .navbar nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

#Home #logo {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

header .navbar nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a{
    margin: 0 15px;
    color:var(--primary-color);
    font-weight:600;
}

header .header-content{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    max-width:1100px;
    margin:auto;
    padding:5rem 2rem 0;
    height:100%;
}

header .header-content img{
    max-width:300px;
    
}

#Home .header-content p span{
    font-weight: 700;
    font-weight: 20px;

}
#Home .header-content h1 {
    font-size: 60px;
    color:var(--primary-color);
    margin:10px;
}

#Home .header-content .tittle{
    font-size: 20px;
    color: var(--primary-color);
    margin:10px 0;
    font-weight: 500;
}
#Home .header-content .social{
    margin:1rem 0 2rem;
}
#Home .header-content .social a i {
    font-size: 10px;
    padding: 10px;
    background-color: gray;
    color:#fff;
    border-radius:50%;
}
/* <!-- header end --> */

#skills{
    padding:6rem 0;
}
#skills h2{
    text-align: center;
    font-size: 38px;
    color:var(--primary-color);
    font-weight: 600;
}
#skills hr{
    margin:5px auto 0;
    height: 3px;
    background-color: var(--secondry-color);
    border: none;
}


/*  skils start*/
#skills {
    background-color: var(--primary-color);
}
#skills h2{
    color:#fff;
}
#skills .row img{
    max-width: 40px;
    font-family: 'Poppins', sans-serif;
}
#skills .skills-content{
    margin-top:2rem ;
    background-color: #0f272d;
}
/*  skils end*/
        /*--------------------------footer----------------------*/
        #ft {
            width: 100vw;
            height: 20vh;
            background-color:teal;
            display: flex;
            flex-direction: column;
        }
        
        #ft-1 {
            flex: 1;
        }
        #ft-2 {
            flex: 1;
        }    

